.DS_Store
img/*.bak
img/ד״ר סיון אבריל.jpeg
img/איילת עדות.mp4
# Local source assets and documents — not for deployment
/*.pdf

img/אירובי.png
img/מבדק גיל ביולוגי.png
img/פוד דוגמנית.jpg
img/שריר.png
img/‎⁨גל אוירה⁩.JPG
